<h1>
  {{ userName }}'s Shopping List
</h1>
<h2>
  Total Items: {{ totalItems }}
</h2>
<h2>
  Picked Up Items: {{ totalItemsPickedUp }}
</h2>
<h2>
  Outstanding Items: {{ totalItemsNotPickedUp }}
</h2>

<table>
  <caption>Need to pick up</caption>
  <thead>
    <tr>
      <th>#</th>
      <th>Item Name</th>
      <th>Picked Up</th>
      <th>Pick Up</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of outstandingItemList; let i = index">
      <td>{{ i + 1 }}</td>
      <td>{{ item.name }}</td>
      <td [ngSwitch]="item.pickedUp">
        <span *ngSwitchCase="true">Yes</span>
        <span *ngSwitchDefault>No</span>
      </td>
      <td><input type="checkbox" [(ngModel)]="item.pickedUp" /></td>
    </tr>
  </tbody>
</table>
<br />
<table>
  <caption>Picked up</caption>
  <thead>
    <tr>
      <th>#</th>
      <th>Item Name</th>
      <th>Picked Up</th>
      <th>Pick Up</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of pickedUpItemList; let i = index">
      <td>{{ i + 1 }}</td>
      <td>{{ item.name }}</td>
      <td [ngSwitch]="item.pickedUp">
        <span *ngSwitchCase="true">Yes</span>
        <span *ngSwitchDefault>No</span>
      </td>
      <td><input type="checkbox" [(ngModel)]="item.pickedUp" /></td>
    </tr>
  </tbody>
</table>